@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  padding-top: 50px;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-work-sans), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Dark Mode Styles */
.dark {
  --background: #171717; /* Dark background */
  --foreground: #797272; /* Light text */
}

body.dark, 
.dark body {
  color: var(--foreground);
  background: var(--background);
}


.dark * {
  color: var(--foreground) !important; 
}

.dark *::before,
.dark *::after {
  color: var(--foreground) !important;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
